body {
   background-color: #e5e5e5;
   color: #757575;
}
.list {
    list-style: none;
}



/* цвет основного текста #757575*/
/* вторичный цвет текста #212121 */
/* белый цвет текста #FFFFFF */
/* акцентный цвет текста #2196F3 */
/* вторичный цвет фона #F5F4FA;*/
/* цвет фона хедера №FFFFFF*/
/* цвет фона футера #2F303A; */

.header-link {
    color: #212121;
}
.span {
    color: #2196F3;
}

/* main-navigation */
